In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import calendar
import datetime as dt

missing=['NULO','Nulo','NaN']
df0 = pd.read_csv('Guasave.txt', sep='\s+', na_values=missing)
pd.isnull(df0)

df0.dropna()

           FECHA  PRECIP  EVAP  TMAX  TMIN
1     16/01/1969     0.0   3.2  26.0  13.5
2     17/01/1969     0.0   2.6  27.0  13.0
3     18/01/1969     0.0   0.5  26.0  11.5
4     19/01/1969     0.0   5.1  25.0  11.5
5     20/01/1969     0.0   3.5  29.0  10.5
6     21/01/1969     0.0   2.0  29.0   9.5
7     22/01/1969     0.0   3.0  28.5  11.0
8     23/01/1969     0.0   2.8  27.5  11.0
9     24/01/1969     0.0   3.9  29.0  10.0
10    25/01/1969     0.0   2.5  29.0  10.0
11    26/01/1969     0.0   2.8  32.0  10.5
12    27/01/1969     0.0   2.0  29.0  11.5
13    28/01/1969     0.0   3.4  29.0  13.5
14    29/01/1969     0.0   5.7  25.0  15.5
15    30/01/1969     0.0   0.9  24.5  14.5
16    31/01/1969     0.0   3.7  19.5  14.0
17    01/02/1969     0.0   5.2  22.5  12.5
18    02/02/1969     0.0   1.8  24.0   9.0
19    03/02/1969     3.0   2.0  23.0   9.0
20    04/02/1969     0.0   5.0  28.5  12.0
21    05/02/1969     1.0   4.6  22.5  12.5
22    06/02/1969     0.0   0.8  25.0  16.0
23    07/02/1969     0.9   6.2  27.0  14.0
24    08/02/1969     0.0   2.2  20.0  13.0
25    09/02/1969     0.0   2.4  28.0  13.0
26    10/02/1969     0.0   4.3  29.0  12.0
27    11/02/1969     4.5   3.9  28.0  11.0
28    12/02/1969     0.0   3.1  26.0   9.0
29    13/02/1969     0.0   4.1  22.5  14.5
30    14/02/1969     0.0   3.0  26.0  10.0
...          ...     ...   ...   ...   ...
5001  02/12/1985     0.0   1.3  29.0  12.0
5002  03/12/1985     0.0   3.7  29.0  11.0
5003  04/12/1985     0.0   2.4  30.0  13.0
5004  05/12/1985     0.0   2.6  28.5  11.0
5005  06/12/1985     0.0   2.2  30.0  12.5
5006  07/12/1985     0.0   2.5  27.5  15.5
5007  08/12/1985     0.0   2.8  29.0  13.0
5008  09/12/1985     0.0   2.7  33.0   9.5
5009  10/12/1985     0.0   2.2  24.5  10.5
5010  11/12/1985     0.0   2.8  27.5  10.0
5011  12/12/1985     0.0   4.1  22.0  11.0
5012  13/12/1985     0.0   3.2  24.0   7.5
5013  14/12/1985     0.0   3.0  25.0   9.0
5014  15/12/1985     0.0   2.3  26.0   8.0
5015  16/12/1985     0.0   2.7  25.0   9.0
5016  17/12/1985     0.0   0.8  19.0  10.0
5017  18/12/1985     0.0   2.3  29.0   9.0
5018  19/12/1985     0.0   0.9  31.0  11.0
5019  20/12/1985     0.0   1.5  27.0  12.0
5020  21/12/1985     0.0   2.0  28.0  12.0
5021  22/12/1985     0.0   2.4  25.0  12.5
5022  23/12/1985     0.0   2.5  28.0  12.0
5023  24/12/1985     0.0   2.6  27.0  12.5
5024  25/12/1985     0.0   2.1  27.0  11.0
5025  26/12/1985     0.0   2.1  27.0  10.0
5026  27/12/1985     0.0   1.5  27.5  10.0
5027  28/12/1985     0.0   2.9  28.0  10.0
5028  29/12/1985     0.0   4.6  28.5  11.5
5029  30/12/1985     0.0   3.6  30.0  11.5
5030  31/12/1985     0.0   1.4  30.0  10.0

[4175 rows x 5 columns]

In [2]:
df=pd.DataFrame(df0)

In [3]:
df.dtypes

FECHA      object
PRECIP    float64
EVAP      float64
TMAX      float64
TMIN      float64
dtype: object

In [4]:
df.mean()

PRECIP     1.299284
EVAP       4.445563
TMAX      32.559509
TMIN      16.917445
dtype: float64

In [5]:
df.std()

PRECIP    7.862708
EVAP      2.014409
TMAX      4.494014
TMIN      6.058418
dtype: float64

In [6]:
df0.median()

PRECIP     0.0
EVAP       4.2
TMAX      33.5
TMIN      16.0
dtype: float64

In [7]:
df.max()

FECHA     31/12/1985
PRECIP         229.8
EVAP            16.4
TMAX              43
TMIN              29
dtype: object

In [8]:
df.min() #El valor mínimo de cada columna de 'df'

FECHA     01/01/1974
PRECIP             0
EVAP             0.1
TMAX              13
TMIN               1
dtype: object

In [9]:
df.describe() #Resumen estadístico de 'df'

            PRECIP         EVAP         TMAX         TMIN
count  5025.000000  4181.000000  5011.000000  5010.000000
mean      1.299284     4.445563    32.559509    16.917445
std       7.862708     2.014409     4.494014     6.058418
min       0.000000     0.100000    13.000000     1.000000
25%       0.000000     2.900000    29.500000    12.000000
50%       0.000000     4.200000    33.500000    16.000000
75%       0.000000     5.800000    36.000000    23.000000
max     229.800000    16.400000    43.000000    29.000000

In [10]:
df0['EVAP']#Para ver los datos de la columna 'EVAP'

0       NaN
1       3.2
2       2.6
3       0.5
4       5.1
5       3.5
6       2.0
7       3.0
8       2.8
9       3.9
10      2.5
11      2.8
12      2.0
13      3.4
14      5.7
15      0.9
16      3.7
17      5.2
18      1.8
19      2.0
20      5.0
21      4.6
22      0.8
23      6.2
24      2.2
25      2.4
26      4.3
27      3.9
28      3.1
29      4.1
       ...
5001    1.3
5002    3.7
5003    2.4
5004    2.6
5005    2.2
5006    2.5
5007    2.8
5008    2.7
5009    2.2
5010    2.8
5011    4.1
5012    3.2
5013    3.0
5014    2.3
5015    2.7
5016    0.8
5017    2.3
5018    0.9
5019    1.5
5020    2.0
5021    2.4
5022    2.5
5023    2.6
5024    2.1
5025    2.1
5026    1.5
5027    2.9
5028    4.6
5029    3.6
5030    1.4
Name: EVAP, Length: 5031, dtype: float64

In [11]:
df

           FECHA  PRECIP  EVAP  TMAX  TMIN
0     15/01/1969     0.0   NaN   NaN   NaN
1     16/01/1969     0.0   3.2  26.0  13.5
2     17/01/1969     0.0   2.6  27.0  13.0
3     18/01/1969     0.0   0.5  26.0  11.5
4     19/01/1969     0.0   5.1  25.0  11.5
5     20/01/1969     0.0   3.5  29.0  10.5
6     21/01/1969     0.0   2.0  29.0   9.5
7     22/01/1969     0.0   3.0  28.5  11.0
8     23/01/1969     0.0   2.8  27.5  11.0
9     24/01/1969     0.0   3.9  29.0  10.0
10    25/01/1969     0.0   2.5  29.0  10.0
11    26/01/1969     0.0   2.8  32.0  10.5
12    27/01/1969     0.0   2.0  29.0  11.5
13    28/01/1969     0.0   3.4  29.0  13.5
14    29/01/1969     0.0   5.7  25.0  15.5
15    30/01/1969     0.0   0.9  24.5  14.5
16    31/01/1969     0.0   3.7  19.5  14.0
17    01/02/1969     0.0   5.2  22.5  12.5
18    02/02/1969     0.0   1.8  24.0   9.0
19    03/02/1969     3.0   2.0  23.0   9.0
20    04/02/1969     0.0   5.0  28.5  12.0
21    05/02/1969     1.0   4.6  22.5  12.5
22    06/02/1969     0.0   0.8  25.0  16.0
23    07/02/1969     0.9   6.2  27.0  14.0
24    08/02/1969     0.0   2.2  20.0  13.0
25    09/02/1969     0.0   2.4  28.0  13.0
26    10/02/1969     0.0   4.3  29.0  12.0
27    11/02/1969     4.5   3.9  28.0  11.0
28    12/02/1969     0.0   3.1  26.0   9.0
29    13/02/1969     0.0   4.1  22.5  14.5
...          ...     ...   ...   ...   ...
5001  02/12/1985     0.0   1.3  29.0  12.0
5002  03/12/1985     0.0   3.7  29.0  11.0
5003  04/12/1985     0.0   2.4  30.0  13.0
5004  05/12/1985     0.0   2.6  28.5  11.0
5005  06/12/1985     0.0   2.2  30.0  12.5
5006  07/12/1985     0.0   2.5  27.5  15.5
5007  08/12/1985     0.0   2.8  29.0  13.0
5008  09/12/1985     0.0   2.7  33.0   9.5
5009  10/12/1985     0.0   2.2  24.5  10.5
5010  11/12/1985     0.0   2.8  27.5  10.0
5011  12/12/1985     0.0   4.1  22.0  11.0
5012  13/12/1985     0.0   3.2  24.0   7.5
5013  14/12/1985     0.0   3.0  25.0   9.0
5014  15/12/1985     0.0   2.3  26.0   8.0
5015  16/12/1985     0.0   2.7  25.0   9.0
5016  17/12/1985     0.0   0.8  19.0  10.0
5017  18/12/1985     0.0   2.3  29.0   9.0
5018  19/12/1985     0.0   0.9  31.0  11.0
5019  20/12/1985     0.0   1.5  27.0  12.0
5020  21/12/1985     0.0   2.0  28.0  12.0
5021  22/12/1985     0.0   2.4  25.0  12.5
5022  23/12/1985     0.0   2.5  28.0  12.0
5023  24/12/1985     0.0   2.6  27.0  12.5
5024  25/12/1985     0.0   2.1  27.0  11.0
5025  26/12/1985     0.0   2.1  27.0  10.0
5026  27/12/1985     0.0   1.5  27.5  10.0
5027  28/12/1985     0.0   2.9  28.0  10.0
5028  29/12/1985     0.0   4.6  28.5  11.5
5029  30/12/1985     0.0   3.6  30.0  11.5
5030  31/12/1985     0.0   1.4  30.0  10.0

[5031 rows x 5 columns]

In [12]:
df.loc[1] #Localiz los datos de la sección 1.

FECHA     16/01/1969
PRECIP             0
EVAP             3.2
TMAX              26
TMIN            13.5
Name: 1, dtype: object

In [13]:
df.sort_values('TMAX') 
#Para ordenar los valores (de la columna 'TMAX') de la tabla
#de datos df. De menor a mayor.

           FECHA  PRECIP  EVAP  TMAX  TMIN
1190  25/12/1974     7.9   0.1  13.0   9.0
2594  28/01/1979     0.0   NaN  15.0  11.5
3929  26/12/1982     0.0   1.2  15.0   7.5
1191  26/12/1974     0.0   0.6  15.5   7.5
2600  03/02/1979    14.8   NaN  16.0  13.0
301   07/01/1971     0.0   1.5  17.0   2.5
3928  25/12/1982     0.0   0.8  17.0  12.0
2593  27/01/1979     0.0   NaN  18.0  12.5
2601  04/02/1979     4.2   NaN  18.0  13.5
1192  27/12/1974     0.5   0.7  18.0   9.0
299   05/01/1971     0.0   3.4  18.0   6.0
4696  31/01/1985     0.0   0.7  18.0  11.0
2599  02/02/1979     7.6   NaN  18.0  11.0
3180  07/12/1980    25.4   2.3  18.0  13.0
4648  14/12/1984     2.7   0.7  18.5  14.0
2303  11/02/1978    32.6   NaN  18.5  10.0
2590  24/01/1979    53.3   NaN  18.5   9.5
5016  17/12/1985     0.0   0.8  19.0  10.0
2596  30/01/1979     0.0   NaN  19.0   8.5
1189  24/12/1974    42.0   2.2  19.0  12.0
4697  01/02/1985     0.0   2.3  19.0   8.5
2602  05/02/1979     0.0   NaN  19.0  13.0
4647  13/12/1984    24.5   3.3  19.0  12.0
4646  12/12/1984     7.8   1.5  19.0  17.0
4688  23/01/1985     1.8   0.5  19.0  12.0
1228  01/02/1975     3.8   0.4  19.0  15.0
2597  31/01/1979     0.0   NaN  19.5   8.5
2543  08/12/1978     0.0   NaN  19.5   9.0
300   06/01/1971     0.0   4.3  19.5   2.0
2603  06/02/1979     0.0   NaN  19.5   6.0
...          ...     ...   ...   ...   ...
3444  28/08/1981     0.0   6.7  41.5  29.0
700   22/08/1973     0.0   7.4  41.5  27.0
1096  22/09/1974     0.1   2.6  41.5  24.0
640   22/06/1973     0.0   8.1  41.5  24.0
1065  22/08/1974     0.0   7.4  41.5  27.0
701   23/08/1973     0.0   5.8  41.5  26.5
2816  08/09/1979     0.5   6.6  42.0  25.0
3443  27/08/1981     0.0   6.5  42.0  26.0
2817  09/09/1979     0.0   6.6  42.5  24.0
4104  19/06/1983     0.0   7.5  43.0  20.0
0     15/01/1969     0.0   NaN   NaN   NaN
586   27/04/1973     NaN   NaN   NaN   NaN
587   29/04/1973     0.0   NaN   NaN   NaN
588   30/04/1973     0.0   NaN   NaN   NaN
589   01/05/1973     0.0   NaN   NaN   NaN
605   17/05/1973     NaN   NaN   NaN   NaN
606   18/05/1973     0.0   NaN   NaN   NaN
607   19/05/1973     NaN   NaN   NaN   NaN
608   20/05/1973     0.0   NaN   NaN   NaN
627   08/06/1973     NaN   NaN   NaN   NaN
628   10/06/1973     0.0   NaN   NaN   NaN
2676  20/04/1979     NaN   NaN   NaN   NaN
2677  22/04/1979     0.0   NaN   NaN   NaN
2682  27/04/1979     NaN   NaN   NaN   NaN
2683  28/04/1979     0.0   NaN   NaN   NaN
3231  27/01/1981     0.0   2.7   NaN   NaN
3232  28/01/1981     0.0   1.8   NaN   NaN
3233  29/01/1981     0.0   3.4   NaN   NaN
3234  30/01/1981     0.0   4.1   NaN   NaN
3235  31/01/1981     0.0   4.1   NaN   NaN

[5031 rows x 5 columns]

In [14]:
#En <df> crea la columna "FEchas".
#Haciendo uso de Pandas <pd>, usa la función <.to_datetime> para que a la columna
#  agarre los datos de la columna 'FECHA' y los meta en "FECHAS" con el formato de día/mes/año
#  <%d/%m/%Y>

df["FECHAS"] = pd.to_datetime(df['FECHA'], format='%d/%m/%Y')

#De <df>, usa la funci+on <.drop> para eliminar la columna 'FECHA'
df = df.drop('FECHA', 1)
df

      PRECIP  EVAP  TMAX  TMIN     FECHAS
0        0.0   NaN   NaN   NaN 1969-01-15
1        0.0   3.2  26.0  13.5 1969-01-16
2        0.0   2.6  27.0  13.0 1969-01-17
3        0.0   0.5  26.0  11.5 1969-01-18
4        0.0   5.1  25.0  11.5 1969-01-19
5        0.0   3.5  29.0  10.5 1969-01-20
6        0.0   2.0  29.0   9.5 1969-01-21
7        0.0   3.0  28.5  11.0 1969-01-22
8        0.0   2.8  27.5  11.0 1969-01-23
9        0.0   3.9  29.0  10.0 1969-01-24
10       0.0   2.5  29.0  10.0 1969-01-25
11       0.0   2.8  32.0  10.5 1969-01-26
12       0.0   2.0  29.0  11.5 1969-01-27
13       0.0   3.4  29.0  13.5 1969-01-28
14       0.0   5.7  25.0  15.5 1969-01-29
15       0.0   0.9  24.5  14.5 1969-01-30
16       0.0   3.7  19.5  14.0 1969-01-31
17       0.0   5.2  22.5  12.5 1969-02-01
18       0.0   1.8  24.0   9.0 1969-02-02
19       3.0   2.0  23.0   9.0 1969-02-03
20       0.0   5.0  28.5  12.0 1969-02-04
21       1.0   4.6  22.5  12.5 1969-02-05
22       0.0   0.8  25.0  16.0 1969-02-06
23       0.9   6.2  27.0  14.0 1969-02-07
24       0.0   2.2  20.0  13.0 1969-02-08
25       0.0   2.4  28.0  13.0 1969-02-09
26       0.0   4.3  29.0  12.0 1969-02-10
27       4.5   3.9  28.0  11.0 1969-02-11
28       0.0   3.1  26.0   9.0 1969-02-12
29       0.0   4.1  22.5  14.5 1969-02-13
...      ...   ...   ...   ...        ...
5001     0.0   1.3  29.0  12.0 1985-12-02
5002     0.0   3.7  29.0  11.0 1985-12-03
5003     0.0   2.4  30.0  13.0 1985-12-04
5004     0.0   2.6  28.5  11.0 1985-12-05
5005     0.0   2.2  30.0  12.5 1985-12-06
5006     0.0   2.5  27.5  15.5 1985-12-07
5007     0.0   2.8  29.0  13.0 1985-12-08
5008     0.0   2.7  33.0   9.5 1985-12-09
5009     0.0   2.2  24.5  10.5 1985-12-10
5010     0.0   2.8  27.5  10.0 1985-12-11
5011     0.0   4.1  22.0  11.0 1985-12-12
5012     0.0   3.2  24.0   7.5 1985-12-13
5013     0.0   3.0  25.0   9.0 1985-12-14
5014     0.0   2.3  26.0   8.0 1985-12-15
5015     0.0   2.7  25.0   9.0 1985-12-16
5016     0.0   0.8  19.0  10.0 1985-12-17
5017     0.0   2.3  29.0   9.0 1985-12-18
5018     0.0   0.9  31.0  11.0 1985-12-19
5019     0.0   1.5  27.0  12.0 1985-12-20
5020     0.0   2.0  28.0  12.0 1985-12-21
5021     0.0   2.4  25.0  12.5 1985-12-22
5022     0.0   2.5  28.0  12.0 1985-12-23
5023     0.0   2.6  27.0  12.5 1985-12-24
5024     0.0   2.1  27.0  11.0 1985-12-25
5025     0.0   2.1  27.0  10.0 1985-12-26
5026     0.0   1.5  27.5  10.0 1985-12-27
5027     0.0   2.9  28.0  10.0 1985-12-28
5028     0.0   4.6  28.5  11.5 1985-12-29
5029     0.0   3.6  30.0  11.5 1985-12-30
5030     0.0   1.4  30.0  10.0 1985-12-31

[5031 rows x 5 columns]

In [15]:
df.dtypes

PRECIP           float64
EVAP             float64
TMAX             float64
TMIN             float64
FECHAS    datetime64[ns]
dtype: object

In [16]:
#Con la función <.groupby> y la librería datetime <dt>
#Selecciona los meses '%B" y calcula el promedio de las precipitaciones
#   ordenados de menor a mayor

df.groupby(df['FECHAS'].dt.strftime('%B'))['PRECIP'].mean().sort_values()

FECHAS
April        0.044764
May          0.094444
March        0.130531
June         0.247445
February     0.308578
November     0.611409
January      0.804505
December     0.827792
October      1.900430
July         3.163275
August       3.811598
September    4.058718
Name: PRECIP, dtype: float64

In [17]:
df.groupby(df['FECHAS'].dt.strftime('%B'))['TMAX'].mean().sort_values()

FECHAS
January      26.522831
December     27.563275
February     28.384804
March        30.410398
November     31.464206
April        32.992063
October      34.667742
May          35.042424
September    35.714103
August       35.922680
July         36.181141
June         36.506098
Name: TMAX, dtype: float64

In [18]:
df.groupby(df['FECHAS'].dt.strftime('%B'))['TMIN'].mean().sort_values()

FECHAS
February     10.522359
January      10.527397
December     11.136476
March        11.594027
April        13.620635
November     14.551678
May          16.508159
October      20.003441
June         22.353659
September    24.152564
July         24.632754
August       24.706186
Name: TMIN, dtype: float64

In [19]:
df.groupby(df['FECHAS'].dt.strftime('%Y'))['PRECIP'].mean().sort_values()

FECHAS
1980    0.354745
1969    0.628041
1973    0.831464
1985    0.865205
1977    0.971233
1979    1.023757
1975    1.080822
1978    1.090820
1981    1.364658
1971    1.435071
1974    1.481918
1983    1.633425
1982    2.022740
1976    2.103582
1984    2.267213
Name: PRECIP, dtype: float64

In [26]:
df0['Año'] = df0['FECHAS'].dt.year
df0['Mes'] = df0['FECHAS'].dt.month
df0.head(),df0.tail()

(        FECHA  PRECIP  EVAP  TMAX  TMIN     FECHAS   Año  Mes
 0  15/01/1969     0.0   NaN   NaN   NaN 1969-01-15  1969    1
 1  16/01/1969     0.0   3.2  26.0  13.5 1969-01-16  1969    1
 2  17/01/1969     0.0   2.6  27.0  13.0 1969-01-17  1969    1
 3  18/01/1969     0.0   0.5  26.0  11.5 1969-01-18  1969    1
 4  19/01/1969     0.0   5.1  25.0  11.5 1969-01-19  1969    1,
            FECHA  PRECIP  EVAP  TMAX  TMIN     FECHAS   Año  Mes
 5026  27/12/1985     0.0   1.5  27.5  10.0 1985-12-27  1985   12
 5027  28/12/1985     0.0   2.9  28.0  10.0 1985-12-28  1985   12
 5028  29/12/1985     0.0   4.6  28.5  11.5 1985-12-29  1985   12
 5029  30/12/1985     0.0   3.6  30.0  11.5 1985-12-30  1985   12
 5030  31/12/1985     0.0   1.4  30.0  10.0 1985-12-31  1985   12)

In [31]:

for i in range(12):
    TminPromMensual = df0[df0['Mes']==i+1]['TMIN'].sum()/df0[df0['Mes'] ==i+1]['TMIN'].count()
    print "Tmin Mes", i+1,":", np.round(TminPromMensual, decimals=2), "ºC"
  
print " "
    
for i in range(12):
    TmaxPromMensual = df0[df0['Mes']==i+1]['TMAX'].sum()/df0[df0['Mes'] ==i+1]['TMAX'].count()
    print "Tmax Mes", i+1,":", np.round(TmaxPromMensual, decimals=2), "ºC"

Tmin Mes 1 : 10.53 ºC
Tmin Mes 2 : 10.52 ºC
Tmin Mes 3 : 11.59 ºC
Tmin Mes 4 : 13.62 ºC
Tmin Mes 5 : 16.51 ºC
Tmin Mes 6 : 22.35 ºC
Tmin Mes 7 : 24.63 ºC
Tmin Mes 8 : 24.71 ºC
Tmin Mes 9 : 24.15 ºC
Tmin Mes 10 : 20.0 ºC
Tmin Mes 11 : 14.55 ºC
Tmin Mes 12 : 11.14 ºC

Tmax Mes 1 : 26.52 ºC
Tmax Mes 2 : 28.38 ºC
Tmax Mes 3 : 30.41 ºC
Tmax Mes 4 : 32.99 ºC
Tmax Mes 5 : 35.04 ºC
Tmax Mes 6 : 36.51 ºC
Tmax Mes 7 : 36.18 ºC
Tmax Mes 8 : 35.92 ºC
Tmax Mes 9 : 35.71 ºC
Tmax Mes 10 : 34.67 ºC
Tmax Mes 11 : 31.46 ºC
Tmax Mes 12 : 27.56 ºC