In [15]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

In [21]:
df0 = pd.read_csv('ahome.txt',sep="\s+")

In [22]:
df=pd.DataFrame(df0)

In [24]:
df

         FECHA  PRECIP  EVAP  TMAX  TMIN
0   02/07/1962       0   7.9  35.0  20.0
1   03/07/1962       0  10.9  43.0  23.0
2   04/07/1962       0   8.6  42.0  22.5
3   05/07/1962       0   9.4  41.0  23.0
4   06/07/1962       0   5.0  44.0  24.0
5   07/07/1962       4   8.4  36.0  25.0
6   08/07/1962       0  10.6  40.0  23.0
7   09/07/1962       0   9.1  39.0  25.0
8   10/07/1962       0   8.9  40.0  25.0
9   11/07/1962       0   1.9  39.5  25.0
10  12/07/1962       0   4.5  34.0  22.5
11  13/07/1962       0   5.0  40.5  24.0
12  14/07/1962       0   3.4  41.0  23.0
13  15/07/1962       0   2.9  43.0  23.5
14  16/07/1962       0   9.6  42.0  22.0
15  17/07/1962       0  10.5  35.0  25.0
16  18/07/1962       0   8.0  38.0  24.0
17  19/07/1962       0  10.3  38.0  24.0
18  20/07/1962       0   7.9  39.0  24.0
19  21/07/1962       0   7.6  39.0  25.0
20  22/07/1962       0   5.9  40.5  25.5
21  23/07/1962       0   7.9  39.0  20.5
22  24/07/1962       0   8.8  42.0  21.0

In [25]:
df.dtypes

FECHA      object
PRECIP      int64
EVAP      float64
TMAX      float64
TMIN      float64
dtype: object

In [26]:
df.mean()

PRECIP     0.173913
EVAP       7.521739
TMAX      39.586957
TMIN      23.456522
dtype: float64

In [27]:
df.std()

PRECIP    0.834058
EVAP      2.597019
TMAX      2.686888
TMIN      1.529357
dtype: float64

In [28]:
df0.median()

PRECIP     0.0
EVAP       8.0
TMAX      40.0
TMIN      24.0
dtype: float64

In [29]:
df.max()

FECHA     24/07/1962
PRECIP             4
EVAP            10.9
TMAX              44
TMIN            25.5
dtype: object

In [30]:
df.min() #El valor mínimo de cada columna de 'df'

FECHA     02/07/1962
PRECIP             0
EVAP             1.9
TMAX              34
TMIN              20
dtype: object

In [31]:
df.describe() #Resumen estadístico de 'df'

          PRECIP       EVAP       TMAX       TMIN
count  23.000000  23.000000  23.000000  23.000000
mean    0.173913   7.521739  39.586957  23.456522
std     0.834058   2.597019   2.686888   1.529357
min     0.000000   1.900000  34.000000  20.000000
25%     0.000000   5.450000  38.500000  22.750000
50%     0.000000   8.000000  40.000000  24.000000
75%     0.000000   9.250000  41.500000  25.000000
max     4.000000  10.900000  44.000000  25.500000

In [35]:
df0['EVAP'] #Para ver los datos de la columna 'EVAP'

0      7.9
1     10.9
2      8.6
3      9.4
4      5.0
5      8.4
6     10.6
7      9.1
8      8.9
9      1.9
10     4.5
11     5.0
12     3.4
13     2.9
14     9.6
15    10.5
16     8.0
17    10.3
18     7.9
19     7.6
20     5.9
21     7.9
22     8.8
Name: EVAP, dtype: float64

In [44]:
df

         FECHA  PRECIP  EVAP  TMAX  TMIN
0   02/07/1962       0   7.9  35.0  20.0
1   03/07/1962       0  10.9  43.0  23.0
2   04/07/1962       0   8.6  42.0  22.5
3   05/07/1962       0   9.4  41.0  23.0
4   06/07/1962       0   5.0  44.0  24.0
5   07/07/1962       4   8.4  36.0  25.0
6   08/07/1962       0  10.6  40.0  23.0
7   09/07/1962       0   9.1  39.0  25.0
8   10/07/1962       0   8.9  40.0  25.0
9   11/07/1962       0   1.9  39.5  25.0
10  12/07/1962       0   4.5  34.0  22.5
11  13/07/1962       0   5.0  40.5  24.0
12  14/07/1962       0   3.4  41.0  23.0
13  15/07/1962       0   2.9  43.0  23.5
14  16/07/1962       0   9.6  42.0  22.0
15  17/07/1962       0  10.5  35.0  25.0
16  18/07/1962       0   8.0  38.0  24.0
17  19/07/1962       0  10.3  38.0  24.0
18  20/07/1962       0   7.9  39.0  24.0
19  21/07/1962       0   7.6  39.0  25.0
20  22/07/1962       0   5.9  40.5  25.5
21  23/07/1962       0   7.9  39.0  20.5
22  24/07/1962       0   8.8  42.0  21.0

In [47]:
df.loc[1] #Localiz los datos de la sección 1.

FECHA     03/07/1962
PRECIP             0
EVAP            10.9
TMAX              43
TMIN              23
Name: 1, dtype: object

In [55]:
df.sort_values('TMAX') 
#Para ordenar los valores (de la columna 'TMAX') de la tabla
#de datos df. De menor a mayor.

         FECHA  PRECIP  EVAP  TMAX  TMIN
10  12/07/1962       0   4.5  34.0  22.5
0   02/07/1962       0   7.9  35.0  20.0
15  17/07/1962       0  10.5  35.0  25.0
5   07/07/1962       4   8.4  36.0  25.0
17  19/07/1962       0  10.3  38.0  24.0
16  18/07/1962       0   8.0  38.0  24.0
19  21/07/1962       0   7.6  39.0  25.0
18  20/07/1962       0   7.9  39.0  24.0
7   09/07/1962       0   9.1  39.0  25.0
21  23/07/1962       0   7.9  39.0  20.5
9   11/07/1962       0   1.9  39.5  25.0
6   08/07/1962       0  10.6  40.0  23.0
8   10/07/1962       0   8.9  40.0  25.0
20  22/07/1962       0   5.9  40.5  25.5
11  13/07/1962       0   5.0  40.5  24.0
12  14/07/1962       0   3.4  41.0  23.0
3   05/07/1962       0   9.4  41.0  23.0
2   04/07/1962       0   8.6  42.0  22.5
14  16/07/1962       0   9.6  42.0  22.0
22  24/07/1962       0   8.8  42.0  21.0
13  15/07/1962       0   2.9  43.0  23.5
1   03/07/1962       0  10.9  43.0  23.0
4   06/07/1962       0   5.0  44.0  24.0